* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
section {
    padding: 50px 0;
}

/* 
 ======================== Navigation =============================
*/
.nav {
    display: flex;
    justify-content: space-between;
}
.nav ul.hide{
    display: none;
}
#menu {
    top: 40px;
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color: black;
    color: white;
    right: 0;
}

ul li a{
    text-decoration: none;
}

/* 
 ======================== Banner =============================
*/
.banner{
    background-image: url("https://www.wallpapertip.com/wmimgs/82-822588_developpement-web-programming-language.jpg");
    width: 100%;
    height: 500px;
    background-repeat: repeat;
    background-size: cover;
}
.profile-picture {
    width: 150px;
    height: 150px;
    background-color: rgba(158, 158, 158, 0.38);
    background-image: url('../img/face.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: auto;
}


/* 
 ======================== Posts =============================
*/
.posts {
    background-color: rgb(5, 5, 5);
}

ul li {
    list-style:none;
    margin: 20px;
}

span { 
    padding-left: 5px;
}
/*
======================== Components =============================
*/
.primary-button {
    background-color: #0d1568;
    color: white;
    padding: 8px 15px;
    border: 0;
}

.card {
    /*box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;*/
    background-color: rgb(19, 18, 18);
    height: 100%;
}

.card-about  {
    /*box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;*/
    background-color: rgb(19, 18, 18);
    height: 150px;
    padding: 0 20px 20px 20px ;

}

.card-about .about-body {
    padding-left: 50px;
    display: inline-block;
}
.card .card-body {
    padding: 10px;
    font-size: 15px;
    margin-bottom: 30px;
    
}


/*
======================== Helpers =============================
*/
.primary-text {
    color: #e9e9ec;
}

.second-text{
    color: seashell;
}
.center-text {
    text-align: center;
}
.space-top {
    margin-top: 20px;
}

.align-text{
    text-align: center;
}

.about{
    color: yellow;
}